body {
	background-color : #000;
	margin : 0px;
	padding : 0px;
	color : #fff;
	overflow: hidden;
}

#terrain {
	position : absolute;
	top : 10px;
	left : 10px;
	width : 100px;
	height : 100px;
	/*display : none;*/
}
#start-game{
	height: 100%;
	width: 100%;
	text-align: center;
}
#canvas-start{
	height: 100%;
	width: 100%;
}
#button-start{
	top: 70%;
	position: absolute;
}
#select-music{
	top: 0%;
	left: 50%;
	position: absolute;
}